  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Button</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
		<tr>
		<td>
			<button class="btn btn-danger btn-sm" >Set Angular User</button>
		</td>
		<td>
			Set the Api call to a valid Angular user. The Github Api is called with an incorrect URL by default on page load. Reset the timer for the next api call with a correct URL.
		</td>
        </tr>
        <tr>
		<td>
			<button class="btn btn-warning btn-sm">Create Alert</button>
		</td>
		<td>
			Create a text alert. If a message is empty (No message), then an error is generated.
		</td>
        </tr>
		<tr>
		<td>		
			<button class="btn btn-success btn-sm">Throw Exception</button>
		</td>
		<td>
			Throw an Exception. Show "system useful" exceptions as a danger message (Red). Decorate the Angular $exceptionHandler object at configuration
			time adding your customised messages in the service.
		</td>
		</tr>
     </tbody>
    </table>
  </div>